body{
  background-color: black;
}


ul{

	color: #A41914;
	font-family: 'Noto Serif', serif ;
	font-size: 130%;


}
h1{
	color: white;
	font-family: 'Noto Serif', serif ;
	font-size: 200%;
	text-align: center;
}
img{
	height:100%;
	width: 100%

}
